node_modules
.secrets
terraform.tfstate.backup
*.tfstate
*.tfstate.*
.terraform
.terraform.lock.hcl
*.tfvars
*.tfvars.json
*.tfplan
*.tfplan.json
*.zip
*.tar.gz
*.tgz
*.tar

# Lambda layer dependencies
lambda/*/layer/
lambda/**/layer/
lambda/**/*layer*.zip
.DS_Store
